/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
}
.primary {
    color: #3B8246;
    font-weight: 500;
}
.table-list {
    border: 1px solid lightgrey;
    padding: 2em;
}
/*///////////////////////////////
////// Details page    ////////
//////////////////////////////*/

.form-detail {
    border: 1px solid lightgrey;
    padding: 2em;
    height: auto;
}
.form-detail div {
    margin-top: 10px;
}
.form-detail div button {
    background: #3B8246;
    color: #fff;
}

input, button {
    border-radius: 0px !important;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*///////////////////////////////
////// page transiton    ////////
//////////////////////////////*/
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.active {
    background-color: #FFF !important;
    color: #F05A50 !important;
}
